* {
    box-sizing: border-box;
}

body {
    background-color: rgba(255, 255, 255, 0);
    font: 16px/1.42857 "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
}
header {
    background-color: #373737;
    color: #fff;
    height: 160px;
    padding: 50px 50px;
}

nav {
    background-color: #FFA500;
    border: 1px solid #ddd;
    margin-bottom: 30px;
    height: 80px;
}

nav ul li {
    float: left;
    margin-right: 10px; list-style: none
}

a.button {
    display: inline-block;
    color: white;
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    padding: .5em 24px;
    outline: none;
    border: 2px solid;
    border-radius: 2px;
    transition: 0.2s;
}
a.button:hover { background: #FF8C00; }
a.button:active { background: white;  color: #FF4500 }
h2 {font-size: 28px; margin-bottom: -10px; color: #373737}
h3 {font-size: 16px; color: #373737}
p {color: #373737}
main {
    padding: 10px 20px;
    margin: 0 auto;
    width: 1170px;
    display: block;
}
.buttonclose {
    display: inline-block;
    color: #FFA500;
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    padding: .5em 1em;
    outline: none;
    border: 2px solid;
    border-radius: 2px;
    transition: 0.2s;
}
.buttonclose:hover { background: #FF4500; border: 2px solid; color: white }

article {
    float: left;
    margin-bottom: 40px;
    padding: 0 25px;
    width: 70%;
    overflow: hidden;
}
section {
    fbackground-color: #eee;
    border: 2px solid #ccc;
    float: left;
    padding-left: 20px;
    width: 100%;
    display: block;
    overflow: hidden;
    position: relative;
}
table {margin-top: 14px }
td {padding-top: 15px; padding-right: 5px;color: #4169E1;  }
aside {

    float: left;
    padding-left: 20px;
    width: 24%;
    display: block;
    overflow: hidden;
    position: relative;
}
.dedline {color: #FF4500}

footer {
    font-size: 12px;
    background-color: #dcdcdc;
    clear: both;
    color: #373737;
    padding: 20px 50px;
}
.login {background: #FFA500; border: 1px solid #ccc; padding: 8px 14px; font-size: 16px; color: white }